div.front {
    text-align: center;
    white-space: nowrap;
}

@keyframes fadeIn { from { opacity: 0; } to { opacity: 1; } }

#center-above {
    padding-top: 80px;
    font-size: 600%;
    animation: fadeIn 2s;
}

#center {
    font-size: 270%;
    animation: fadeIn 2s;
}

#clock {
    font-size: 1500%;
    display: inline;
    animation: fadeIn 2s;
}
    
#center-below {
    animation: fadeIn 2s;
}

#seconds {
    display: inline;
    animation: fadeIn 2s;
    padding-bottom:
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #000;
    background-color: #fff;
    border-color: #444;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0 8px #444;
}

.button:hover {background-color: #e6e6e6}

.button:active {
    background-color: #e6e6e6;
    box-shadow: 0 5px #222;
    transform: translateY(4px);
}

#bottom {
    padding-top: 80px;
    font-size: 16px;
    font-style: italic;
    animation: fadeIn 2s;
}

#bottom-right {
    position: fixed;
    bottom: 3;
    right: 3;
    animation: fadeIn 2s;
}

#bottom-left {
    position:fixed;
    bottom: 3;
    left: 3;
    animation: fadeIn 2s;
}

#bottom-quote {
    animation: fadeIn 2s;
}
