#header {
    padding: 0cm 2cm 0cm 2cm;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.fokus-link {
    cursor: pointer;
}

#toggle {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 15px;
    color: #A1A1A1;
    border-top: 1px solid;
}

input[type=text] {
    border: none;
    border-bottom: 1px solid;
    font-size: 15px;
}

#domain-container {
    font-family: 'Lato', serif;
    height: 180px;
    overflow: auto;
    font-size: 15px;
}

.divider{
    width:80px;
    height:auto;
    display:inline-block;
}

p.domains-title {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 15px;
    color: #000000;
}

p.toggle-button1 {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

p.toggle-button2 {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.toggle-button1:hover {
    color: #000000;
}

.toggle-button2:hover {
    color: #000000;
}
