#header {
    padding: 0cm 2cm 0cm 2cm;
    cursor: pointer;
}

#toggle {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 14px;
    color: #A1A1A1;
}

#domain-container {
    font-family: 'Lato', serif;
    height: 180px;
    overflow: auto;
}

/*
.Fokus-link {
    padding: 0cm 20cm 0cm 2cm;
}
*/

.divider{
    width:80px;
    height:auto;
    display:inline-block;
}

p.domains-title {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 14px;
    color: #000000;
}

p.toggle-button1 {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

p.toggle-button2 {
    text-align: center;
    display: inline-block;
    cursor: pointer;
}

.toggle-button1:hover {
    color: #000000;
}

.toggle-button2:hover {
    color: #000000;
}
