#header {
    width: 103%;
    margin-left: -10px;
    padding: 0cm 3cm 0cm 3cm;
    border-bottom: 1px solid;
    padding-bottom: 8px;
}

.fokus-link {
    cursor: pointer;
}

#toggle {
    text-align: center;
    border-top: 1px solid;
    margin-right: -10px;
    margin-left: -10px;
}

p.domains-title {
    text-align: center;
    font-family: 'Lato', serif;
    padding-top: 8px;
    font-size: 16.5px;
    color: #000000;
}

#form {
    padding-top: 5px;
    text-align: center;
    padding-bottom: 25px;
}

#domain-delete:focus {
    outline: none;
    box-shadow: none;
}

input[type=text] {
    text-align: center;
    border: none;
    border-bottom: 1px solid;
    font-size: 15px;
}

#domain-container {
    display: block;
    font-family: 'Lato', serif;
    height: 140px;
    overflow: auto;
    font-size: 16px;
    text-align: center;
    padding: 0cm 1cm 0cm 1cm;
}

.divider{
    width: 90px;
    height:auto;
    display:inline-block;
}

p.toggle-button1 {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 16.5px;
    display: inline-block;
    cursor: pointer;
    color: #A1A1A1;
}

p.toggle-button2 {
    text-align: center;
    font-family: 'Lato', serif;
    font-size: 16.5px;
    display: inline-block;
    cursor: pointer;
    color: #A1A1A1;
}

.toggle-button1:hover {
    color: #000000;
}

.toggle-button2:hover {
    color: #000000;
}

ul {
    list-style: none;
    padding: 0 20px;
    margin: 0;
}

ul li {
    position: relative;
    overflow: hidden;
    padding-left: 15px;
    padding-right: 3px;
    margin: 0px 0px 8px 0px;
}

ul li:before {
    background-color: black;
    position: absolute;
    height: 5px;
    content: '';
    width: 5px;
    left: 0;
    top: 5px;
}
